@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

*,
*::before,
*::after {
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

h2,
h3,
h4,
p,
li {
  line-height: 1.5;
}

p {
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

h2,
h3,
h4 {
  font-family: "Noto Sans TC", sans-serif;
}

p, li {
  font-family: "Noto Serif TC", serif;
}

header {
  margin: 0 auto;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9e6d8;
  width: 100%;
  position: fixed;
  opacity: 0.8;
}
header .nav .logo {
  padding: 12px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 30px;
}
header .nav ul {
  list-style: none;
  margin-right: 56px;
}
header .nav a {
  text-decoration: none;
  padding: 9px 16px;
  color: #707070;
}
header .menu li {
  display: inline;
  font-size: 24px;
}
header .menu a {
  color: #707070;
  border-bottom: 3px solid transparent;
  position: relative;
}
header .menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #D08F6D;
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: scale(0);
  transform-origin: center;
}
header .menu a:hover::after, header .menu a:focus::after {
  opacity: 0.8;
  transform: scale(1);
}
header .banner {
  background-image: url("../assets/banner.svg");
  background-size: cover;
  background-position: 50%;
  height: 510px;
  display: flex;
  justify-content: left;
  padding: 160px 0 150px 90px;
}
header .banner .banner_slogan {
  font-size: 7vmin;
  font-weight: 900;
}
header .banner .slogan1 {
  color: #D5AA88;
}
header .banner .slogan2 {
  padding-left: 7vmin;
  color: #D08F6D;
}

.title {
  font-size: 28px;
  color: #D08F6D;
  text-align: center;
  padding: 28px 0px;
  line-height: 1.5;
}
.title span {
  display: block;
  position: relative;
}
.title span::before, .title span::after {
  position: absolute;
  content: "";
  width: 220px;
  height: 1px;
  background: #979797;
}
.title span::before {
  left: 15%;
}
.title span::after {
  right: 15%;
}

.content_3why {
  background-color: #F1EBE7;
}
.content_3why .card {
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: #F1EBE7;
}
.content_3why .card .circle {
  width: 200px;
  border-radius: 50%;
  border: 1px solid #707070;
  margin-bottom: 20px;
}
.content_3why .card h4 {
  color: #3D1101;
  font-size: 18px;
}
.content_3why .card p {
  margin: 12px 0 50px 0;
  width: 260px;
  color: #3D1101;
  font-size: 16px;
}

.content_introduce {
  background-color: #988288;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ebebe9;
}
.content_introduce img {
  -webkit-filter: opacity(0.5);
}
.content_introduce .content_introduce_triangle {
  margin-left: 30px;
  width: 441px;
}
.content_introduce .content_introduce_triangle h3 {
  font-size: 24px;
}
.content_introduce .content_introduce_triangle h4 {
  font-size: 18px;
  padding-bottom: 16px;
}
.content_introduce .content_introduce_triangle p {
  line-height: 2.5;
}

.content_review {
  background-color: #F1EBE7;
}
.content_review h2 {
  font-size: 24px;
  text-align: center;
  padding: 50px 0 52px 0;
  color: #D08F6D;
}
.content_review .profile {
  width: 67px;
}
.content_review ul {
  display: flex;
  justify-content: space-around;
}
.content_review li {
  display: flex;
  align-items: flex-start;
  width: 300px;
  color: #D08F6D;
}
.content_review h4 {
  font-size: 18px;
  padding: 22px 13px;
}
.content_review p {
  font-size: 16px;
  padding-left: 13px;
}
.content_review span {
  display: block;
  text-align: right;
  padding: 16px 0 30px 0;
}