//header
header {
   margin: 0 auto;
   .nav{
      display:flex;
      justify-content:space-between;
      align-items: center;
      background-color: #f9e6d8;
      width:100%;
      position: fixed;
      opacity: 0.8;
      .show{
         display: none;
         @include mobile{
            display: block;
          }
      }
      .logo {
         padding:12px;
         font: {
            family: 'Noto Sans TC', sans-serif;
            size: $size-s*2.5;
         }
         @include mobile{
            font-size: $size-s*2;
          }
      }
      ul {
         list-style: none;  //大多下在ul
         margin-right:15px;
      }
      a {
         text-decoration:none;
         padding:9px 16px;
         color: #707070;
      }
   }
   .menu {
      li {
         display:inline;
      font: {
         size:$size-s*1.5;
      }
      }
      @include mobile{
         // 隱藏選單
         max-height: 0px;
         overflow: hidden;
       }
      a {
         color: #707070;
         border-bottom:3px solid transparent;
         position: relative;
         &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: $light-color;
            opacity: 1;
            transition: opacity 300ms, transform 300ms;
            transform: scale(0);
            transform-origin: center;
         }
         &:hover{
            font-weight: bold;
         }
         &:hover::after,
         &:focus::after {
            opacity: 0.8;
            transform: scale(1);
         }
      }
   }
   .banner{
      background-image:url('../assets/banner.svg');
      background-size: cover;
      background-position: 50%;
      height: 510px;
      display: flex;
      justify-content: left;
      padding:160px 0 150px 90px;
      @include mobile{
         background-image:url('../assets/banner_moblie.svg');
       }
      .banner_slogan{
         font:{
            size: 7vmin;
            weight: 900;
         }
      }
      .slogan1{
         color:#D5AA88;
      }
      .slogan2{
         padding-left:7vmin;
         color:#D08F6D;
      }
   }
}

// footer

footer{
   background-color: #F9E6D8;
   display: flex;
   justify-content:space-around;
   align-items:center;
   padding:18px;
   .fa-grip-lines-vertical{
      color:$primary-color;
      font-size: 50px;
   }
   .logo_2{
      text-align: center;
      font-size:$size-l*1.2;
      font-weight: bolder;
   }
   .link{
      display: flex;
      color:$primary-color;
      i{
         text-align: center;
         font-size: $size-s*2;
         border-width:1px;
         border-style:solid;
         border-color:$primary-color;
         border-radius: 50%;
         margin:5px 12px;
         width:40px;
         padding:7px;
         &:hover{
            background-color:$primary-color;
            color:$primary-bg;
         }
      }
   }
   .footer_information{
      li{
         color:$primary-color;
         font-size:$size-s*1.2;
         font-weight: bold;
      }
      i{
         margin:10px;
      }
   }
}