$primary-color: #3D1101;
$light-color:#D08F6D;
$primary-bg:#F1EBE7;
$dark-bg:#988288;
$highlight-color:#FF6851;

$size-s: 12px;
$size-m: 26px;
$size-l: 36px;

$max-width: 1024px;

$font-text: 'Noto Serif TC', serif;
$font-title: 'Noto Sans TC', sans-serif;