.title{
    font: {
        size: 28px;
    }
    @include mobile{
        font-size: 22px;
    }
    color:$light-color;
    text-align:center;
    padding: 28px 0px;
    line-height:1.5;
    span {
        display:block;
        position: relative;
        &::before ,&::after{
            position: absolute;
            content: ''; // 必寫，就算為空
            width: 220px;
            height: 1px;
            background: #979797;
        }
        &::before{
            left: 15%;
        }
        &::after{
            right: 15%;
        }
    }
}

.content_3why{
    background-color: $primary-bg;
    .card{
        display:flex;
        text-align: center;
        justify-content:space-around;
        background-color: $primary-bg;
        @include pad{
            display: flex;
            flex-direction: column;
            align-items: center;    
        }
        .circle{
            width: 200px;
            border-radius: 50%;
            border: 1px solid #707070;
            margin-bottom: 20px;
        }
        h4{
            color: $primary-color;
            font: {
                size: $size-s*1.5;
            }
        }
        p{
            margin:12px 0 50px 0;
            width: 240px;
            color: $primary-color;
            font: {
                size: 16px;
            }
            @include pad{
                width: 568px;
            }
            @include mobile{
            width: 368px;
            }
        }
    }
}

.content_introduce{
    background-color: $dark-bg;
    display: flex;
    align-items:center;
    justify-content: space-around;
    color:#ebebe9;
    @include pad{
        display: flex;
        flex-direction: column;
    }
    img{
        -webkit-filter:opacity(.5);
        @include pad{
            width:100%;
            padding:15px 30px;
        }
    }
    .content_introduce_triangle{
        margin-left:30px;
        width:441px;
        h3{
            font-size: $size-s*2;
        }
        h4{
            font-size: $size-s*1.5;
            padding-bottom: 16px;
        }
        p{
            line-height: 2.5;
        }
        @include pad{
            text-align: center;
            margin-left:0px;
            h3{
                margin-top: 30px;
            }
            p{
                margin-bottom: 30px;
            }
        }
    }    
}

.content_review {
    background-color: $primary-bg;
    @include mobile{
        .content_review_people{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    }
    h2{
        font-size: $size-s*2;
        text-align: center;
        padding:50px 0 52px 0;
        color: $light-color;
    }
    .profile{
        width: 67px;
    }
    ul{
        display: flex;
        justify-content: space-around;
    }
    li{
        display: flex;
        align-items: flex-start;
        width: 300px;
        color:$light-color;
        @include mobile{
        width:354px;
        }
    }
    h4{
        font-size: $size-s*1.5;
        padding:22px 13px;
    }
    p{
        font-size: 16px;
        padding-left:13px;
    }
    span{
        display: block;
        text-align: right;
        padding:16px 0 30px 0;
    }
}

.content_location{
    background-color: #CEB3BB;
    font-size: 20px;
    color:white;
    padding: 50px 0;
    @include mobile{
        .list_item{
        display: flex;
        flex-direction: column;
        }
    }
    h2{
        text-align: center;
        font-size: 28px;
        margin-bottom: 30px;
    }
    span{
        display:block;
    }
    .map{
        width: 40%;
        object-fit: cover;  //圖片剛好填滿
        padding:0 40px 50px 0px;
        @include mobile{
            width: 100%;
            padding:20px;
    }
    }
    .list_item{
        display: flex;
        justify-content: center;
        form{
            display: flex;
            flex-direction:column;
            margin-left: 20px;
        }
            label{
                padding-top:20px;
                margin-bottom:6px;
                @include mobile{
                    padding: 20px 0 0 10px;
                }
            }
            input{
                padding:7px 14px;
                margin-bottom:16px;
                border: 1px solid #ccc;
            }
            .input_width{
                width:40vw;
                @include mobile{
                    width:90%;
                    margin: 0 10px;
                }
            }
            .button{
                border:none;
                border-radius: 4px;
            }
        }
        .radio {
            margin-bottom: 30px;
            input:nth-child(1) { //起始值是1
              margin-right:12px;
              background-color: #B9B3B3;
                &:hover{
                background-color:#8b8484;
                }
            }
            input:nth-child(2){
                background-color: #FF6851;
                &:hover{
                    background-color:#e74e37;
                }    
            }
          }
        .button{
            text-align: end;
            input{
                color:#ffff;
                border: none;
                border-radius: 4px;
                @include mobile{
                    font-size: $size-s*2;
                    margin-right: 36px;
                }
            }
        }
    }


