.title{
    font: {
        size: 28px;
    }
    color:$light-color;
    text-align:center;
    padding: 28px 0px;
    line-height:1.5;
    span {
        display:block;
        position: relative;
        &::before ,&::after{
            position: absolute;
            content: ''; // 必寫，就算為空
            width: 220px;
            height: 1px;
            background: #979797;
        }
        &::before{
            left: 15%;
        }
        &::after{
            right: 15%;
        }
    }
}

section{
    background-color: $primary-bg;
    .card{
        display:flex;
        text-align: center;
        justify-content:space-around;
        background-color: $primary-bg;
        .circle{
            width: 200px;
            border-radius: 50%;
            border: 1px solid #707070;  
        }
    }
}