.signup_input{
    display: flex; 
    justify-content:center;        
    align-items:center;
    flex-direction: column;
    border-top:3px solid $highlight-color;
    box-shadow: 0px 5px 10px #00000029;
    background-color: #f7f2ef;
    .signup_input_list {
        margin:5px 0 60px 0;
        padding:20px 0;
       
        
        
        display: flex; 
        align-items:center; 
}
}